.catalogGrid {
    display              : grid;
    grid-template-columns: repeat(3, 33vw);
    justify-items        : center;

}

.vw27 {

    width: 27vw;
}

.child,
.man,
.woman {

    position: relative;
}


.btn {
    position: absolute;

    /** calc(10px + ...) - из-за самой картинки */
    top          : 90%;
    right        : max(15px, 5%);
    padding      : 0.17vw 2.6vw 0.25vw 1.7vw;
    box-shadow   : 0px 2px 15px rgba(0, 0, 0, 0.1);
    cursor       : pointer;
    border       : none;
    border-radius: 1.9vw 0.66vw 1.9vw 1.9vw;
    background   : #010101;

    /** Текст кнопки */
    font-family: 'Jost';
    font-style : normal;
    font-weight: 400;
    font-size  : 1.5vw;

    text-align    : center;
    letter-spacing: 0.04em;
    z-index: 5;
}

.btn>img {
    position : absolute;
    transform: translate(70%, 20%);
    height   : 1.3vw;
    width    : 1.3vw;
    
}



.ramochka_child {
    position: relative;
    width   : 27vw;
    height  : 34.467vw;

    background-image : url(/картинки/child.png);
    background-repeat: no-repeat;
    background-size  : cover;

    border-radius: 1vw;
}
.ramochka_man {
    position: relative;
    width   : 27vw;
    height  : 34.467vw;

    background-image : url(/картинки/man.png);
    background-repeat: no-repeat;
    background-size  : cover;

    border-radius: 1vw;
}
.ramochka_woman {
    position: relative;
    width   : 27vw;
    height  : 34.467vw;

    background-image : url(/картинки/woman.png);
    background-repeat: no-repeat;
    background-size  : cover;

    border-radius: 1vw;
}