.catalogGrid {
    display              : grid;
    grid-template-columns: repeat(3, 33vw);
    justify-items        : center;

}

.vw27 {

    width: 27vw;
}

.child {

    position: relative;
}



/* Стиль кнопки и поместите его в середине контейнера/изображения */
.btn {
    position       : absolute;
    top            : 95%;
    left           : 80%;
    transform      : translate(-70%, -70%);
    background     : url(/картинки/button.png) no-repeat;
    background-size: contain;
    width          : 12vw;
    height         : 6vw;
    border         : none;
    cursor         : pointer;

}

