h1 {
    color      : #F5F5F5;
    font-family: 'Nofex';
    font-style : normal;
    font-weight: 400;
    font-size  : 7vw;
    line-height: 6vw;
    /* or 106% */

    letter-spacing: 0.02em;

    color: #F5F5F5;

}

h2 {

    font-family: 'Departura';
    font-style : italic;
    font-weight: 700;
    font-size  : 4vw;
    line-height: 87px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #F5F5F5;
}

.Montserrat700 {
    font-family: 'Montserrat';
    font-style : normal;
    font-weight: 700;
    font-size  : 3.5vw;
    line-height: 3.80vw;

    color: #F5F5F5;

}

.Montserrat700_citata {
    font-family: 'Montserrat';
    font-style : normal;
    font-weight: 700;
    font-size  : 2vw;


    color: #F5F5F5;

}




.jost400 {
    font-family: 'Jost';
    font-style : normal;
    font-weight: 400;
    font-size  : 1.4vw;
    line-height: 39px;
    /* identical to box height, or 170% */

    text-align    : center;
    letter-spacing: 0.04em;

    color: #F5F5F5;
}

.jost400_2 {
    font-family   : 'Jost';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 1.4vw;
    line-height   : 1.8vw;
    /* or 185% */
    text-align    : left;
    letter-spacing: 0.02em;

    color: #F5F5F5;
}

.jost400_3 {
    font-family: 'Jost';
    font-style : normal;
    font-weight: 400;
    font-size  : 1.4vw;
    line-height: 1.8vw;
    /* or 158% */

    text-align    : right;
    letter-spacing: 0.03em;

    color: #F5F5F5;
}

.jost400_4 {
    font-family: 'Jost';
    font-style : normal;
    font-weight: 400;
    font-size  : 2.2vw;
    line-height: 2.4vw;
    /* or 122% */

    letter-spacing: 0.02em;

    color: #F5F5F5;

}


.jost500 {
    font-family: 'Jost';
    font-style : normal;
    font-weight: 500;
    font-size  : 30px;
    line-height: 40px;
    /* identical to box height, or 133% */

    letter-spacing: 0.04em;

    color: #F5F5F5;

}

.Roboto400 {
    font-family: 'Roboto';
    font-style : normal;
    font-weight: 400;
    font-size  : 1.4vw;
    line-height: 1.7vw;

    text-align    : center;
    letter-spacing: 0.04em;

    color: #F5F5F5;

}


.bledno {

    margin-top: 1.5vw;
    font-family   : 'Jost';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 1.8vw;
    line-height   : 33px;
    letter-spacing: 0.02em;

    color: rgba(245, 245, 245, 0.9);
}