
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Roboto&display=swap');


body {
    background-color: black;
}

.flex_items_center {
    display    : flex;
    align-items: center;

}

.flex_center {
    display        : flex;
    justify-content: center;

}

.flex_space-evenly {
    display        : flex;
    justify-content: space-evenly;
}


.ramka {


    position       : absolute;
    width          : 40vw;
    height         : 4vw;
    border-style   : solid;
    background     : rgba(1, 1, 1, 0.1);
    border-color   : rgba(245, 245, 245, 0.2);
    border-width   : 2px;
    backdrop-filter: blur(37.5px);
    border-radius  : 12px;
}

.margin_top45
{
    margin-top: 45px;
}
.margin_top200
{
    margin-top: 200px;
}

.margin_left115
{
    margin-left: 6vw;
}
.logotip {

    display        : flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color          : #F5F5F5;
}

.vw66
{
    width: 66vw;
}

