@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Roboto&display=swap');


* {
    margin : 0;
    padding: 0;
}


body {
    background-color: black;
}

.flex_items_center {
    display    : flex;
    align-items: center;

}

.flex_center {
    display        : flex;
    justify-content: center;

}

.flex_space-evenly {
    display        : flex;
    justify-content: space-evenly;
}


.ramka {
    position       : absolute;
    width          : 40vw;
    height         : 4vw;
    border-style   : solid;
    background     : rgba(1, 1, 1, 0.1);
    border-color   : rgba(245, 245, 245, 0.2);
    border-width   : 0.2vw;
    backdrop-filter: blur(37.5px);
    border-radius  : 1.7vw;
}

.margin_top10 {
    margin-top: 1.5vw;
}

.margin_top45 {
    margin-top: 3vw;
}

.margin_top5vw {
    margin-top: 5vw;
}

.margin_top8vw {
    margin-top: 8vw;
}

.margin_top90 {
    margin-top: 90px;
}

.margin_left115 {
    margin-left: 6vw;
}

.logotip {

    display        : flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color          : #F5F5F5;

}

.vw66 {
    width: 66vw;
}


.shnurki {
    position: absolute;
    width   : 93.5vw;
    top     : 12%;
}

.dvigaem {
    position: absolute;
    width   : 25vw;
    left    : 5%;
    top     : 7%;


}




.dvigaem4 {
    position: absolute;
    width   : 14vw;
    left    : 6%;
    top     : 5%;

}

.margin_top1vw {
    margin-top: 1vw;
    width     : 27vw;
}

.position_rel {
    position: relative;
    width   : 99vw;
    height  : 62vw;
}



.krugmain {
    position: absolute;
    width   : 29vw;
    height  : 29vw;
    top     : 17%;

    background: linear-gradient(180deg, #D94E29 47.97%, #010101 100%);
    box-shadow: 0px -10px 64px rgba(217, 78, 41, 0.9);

    border-radius: 50%;

}

.krug1 {
    position: absolute;
    width   : 7vw;
    height  : 7vw;
    left    : 70.7%;
    top     : 11%;

    background: linear-gradient(222.74deg, #D94E29 16.39%, rgba(217, 78, 41, 0) 88.2%);
    box-shadow: 9px -7px 54px rgba(217, 78, 41, 0.6);

    transform    : rotate(-167.59deg);
    border-radius: 50%;

}

.krug2 {
    position: absolute;
    width   : 7vw;
    height  : 7vw;
    left    : 25%;
    top     : 53.2%;

    background: linear-gradient(222.74deg, #D94E29 16.39%, rgba(217, 78, 41, 0) 88.2%);
    box-shadow: 9px -7px 54px rgba(217, 78, 41, 0.6);

    border-radius: 50%;
}

.krug3 {
    position: absolute;
    width   : 7vw;
    height  : 7vw;
    left    : 24%;
    top     : 78.2%;

    background   : linear-gradient(222.74deg, #D94E29 16.39%, #010101 88.2%);
    box-shadow   : 9px -7px 54px rgba(217, 78, 41, 0.6);
    border-radius: 50%;

}

.krug4 {
    position: absolute;
    width   : 7vw;
    height  : 7vw;
    left    : 4%;
    top     : 85.1%;

    background: linear-gradient(222.74deg, #D94E29 16.39%, #010101 88.2%);
    box-shadow: 9px -7px 54px rgba(217, 78, 41, 0.6);

    border-radius: 50%;

}

.Logotip {
    position: absolute;
    width   : 21vw;
    height  : 26vw;
    left    : 40%;
    top     : 12%;
}

/*.ramochka_top {
    position: absolute;
    top     : 63%;
    right   : 3%;
    height  : 21vw;
    width   : 32vw;
}
*/
.ramochka_top {
    display        : flex;
    justify-content: flex-end;
    margin-right   : 5%;
    margin-top     : -24.5%;

}

.ramochka_top2 {
    display        : flex;
    justify-content: flex-end;
    margin-right   : -1%;
    margin-top     : 1%;

}


.text_top {
    display        : flex;
    justify-content: flex-end;


    margin-right: 4%;
    margin-top  : -40%;

}




.ramochka1 {

    z-index   : 5;
    box-sizing: border-box;


    width : 32vw;
    height: 21vw;

    margin-top: 30%;



    background     : rgba(1, 1, 1, 0.6);
    border         : 2px solid rgba(245, 245, 245, 0.2);
    backdrop-filter: blur(37px);
    /* Note        : backdrop-filter has minimal browser support */

    border-radius: 1.9vw;
    border-width : 0.2vw;

}

.ramochka2 {
    box-sizing: border-box;

    position  : absolute;
    width     : 32vw;
    height    : 21vw;
    margin-top: 30%;



    border       : 2px solid #D94E29;
    border-radius: 1.9vw;
    border-width : 0.2vw;
}

.globus {
    position: absolute;
    top     : 8%;
    left    : 82%;
    z-index : 2;
    width   : 4vw;
    height  : 4vw;
}




.avito {
    position: absolute;

    /** calc(10px + ...) - из-за самой картинки */
    top          : 72%;
    right        : max(15px, 62%);
    padding      : 0.8vw 4.7vw 0.8vw 1.6vw;
    box-shadow   : 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.92vw;

    cursor: pointer;
    border: none;

    background: #ffffff;

    /** Текст кнопки */
    font-family: 'Jost';
    font-style : normal;
    font-weight: 400;
    font-size  : 1.5vw;

    text-align    : center;
    letter-spacing: 0.04em;

    color: #010101;
}

.avito>img {
    position : absolute;
    transform: translate(50%, -10%);
    height   : 2.8vw;
    width    : 2.8vw;

}


.vk {
    position: absolute;

    /** calc(10px + ...) - из-за самой картинки */
    top          : 72%;
    right        : max(15px, 48%);
    padding      : 1.8vw;
    background   : #0077FF;
    box-shadow   : 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.9vw;


    cursor: pointer;
    border: none;



    /* identical to box height */

    text-align: center;


    color: #010101;

}

.vk>img {
    position : absolute;
    transform: translate(-50%, -50%);
    height   : 2.8vw;
    width    : 2.8vw;
}


.tg {
    position: absolute;

    /** calc(10px + ...) - из-за самой картинки */
    top          : 72%;
    right        : max(15px, 34%);
    padding      : 1.8vw;
    background   : #009BFF;
    box-shadow   : 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.9vw;


    cursor: pointer;
    border: none;



    /* identical to box height */

    text-align: center;


    color: #010101;
}

.tg>img {
    position : absolute;
    transform: translate(-52%, -50%);
    height   : 2.8vw;
    width    : 2.8vw;
}